<div class="page_content">
  <section class="main_section">

      <!-- <div class="container" hidden>
          <div class="row">
              <div class="col-12">
                  <div class="intro">
                      <h1>
                          جائزة الإنتاج المرئى للنشء
                      </h1>
                      <h3>
                          جائزة تحفيزية لأفضل إنتاج إعلامى مرئى للنشء
                      </h3>
                      <p>
                          تقام الجائزة على مستوى الممكلة العربية السعودية وتشارك فيها الكيانات المهتمة بالإنتاج
                          الإعلامى بالإضافةللإفراد المهتمين
                      </p>
                      <a href="" class="link">
                          <span> + شارك</span>

                      </a>
                      <a href="" class="link green_link">
                          <span>
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                      d="M18 13L21 16V20C21 21.11 20.1 22 19 22H5C3.89 22 3 21.1 3 20V16L6 13H6.83L8.83 15H6.78L5 17H19L17.23 15H15.32L17.32 13H18ZM19 20V19H5V20H19ZM11.34 15L6.39 10.07C6 9.67998 6 9.04998 6.39 8.65998L12.76 2.28998C13.15 1.89998 13.78 1.89998 14.16 2.29998L19.11 7.24998C19.5 7.63998 19.5 8.26998 19.11 8.65998L12.75 15C12.36 15.41 11.73 15.41 11.34 15ZM13.46 4.40998L8.5 9.35998L12.05 12.9L17 7.94998L13.46 4.40998Z"
                                      fill="#fff" />
                              </svg>

                              صوت
                          </span>

                      </a>
                  </div>
              </div>
          </div>
      </div> -->
  </section>
  <!-- Brands
  ==========================================-->
  <section class="" id="next">
      <div class="container">
          <div class="row text-center">
              <div class="col-12" data-aos="fade-up" data-aos-delay="50">
                  <h2 class="section_title"> الجائزة مقدمة تحت رعاية</h2>
              </div>
              <div class="col-12" data-aos="fade-up" data-aos-delay="100">
                  <ul class="sponsers_list d-flex flex-wrap justify-content-between align-items-center">
                      <li><img src="./assets/Images/sponser_1.jpg" alt=""></li>
                      <li><img src="./assets/Images/sponser_2.jpg" alt=""></li>
                      <li><img src="./assets/Images/sponser_3.jpg" alt=""></li>
                      <li><img src="./assets/Images/sponser_4.jpg" alt=""></li>
                      <li><img src="./assets/Images/sponser_5.jpg" alt=""></li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <!-- Brands
  ==========================================-->
  <section class="section_color">
      <div class="container">
          <div class="row text-center">
              <div class="col-12" data-aos="fade-up" data-aos-delay="50">
                  <h2 class="section_title mt-0">دواعى الجائزة</h2>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="100">
                  <div class="feat_item">
                      <img src="./assets/Images/feat_1.png" alt="">
                      <h3>الأهمية</h3>
                      <p>أهمية مرحلة الطفولة والنشء</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="150">
                  <div class="feat_item">
                      <img src="./assets/Images/feat_2.png" alt="">
                      <h3>الأثر</h3>
                      <p>أثر الأعلاموالتقنية فى توجيه القيم والسلوك</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="200">
                  <div class="feat_item">
                      <img src="./assets/Images/feat_3.png" alt="">
                      <h3>النقص</h3>
                      <p>نقص المحتوى الإعلامى للنشيء مقارنة بسعة الشريحة وإحتياجتها</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-aos="fade-up" data-aos-delay="250">
                  <div class="feat_item">
                      <img src="./assets/Images/feat_4.png" alt="">
                      <h3>الحاجة</h3>
                      <p>حجاة الإنتاح إلى محفزات وجوائز لتقديم محتوى إحترافى</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Brands
  ==========================================-->
  <section class="pb-0">
      <div class="container">
          <div class="row justify-content-between  align-items-center  ">
              <div class="col-lg-7" data-aos="fade-up" data-aos-delay="50">
                  <div class="about_item">
                      <h3>أهمية الجائزة</h3>
                      <p>

                          جائزة تحفيزية لأفضل إنتاج إعلامي مرئي للنشء، تقام الجائزة على مستوى المملكة العربية
                          السعودية وتشارك فيها الكيانات المهتمة بالإنتاج الإعلامي بالإضافة للأفراد المهتمين، وتكرم
                          الجائزة الإنتاج المتميز من المتقدمين.
                      </p>
                      <p>

                          جائزة تحفيزية لأفضل إنتاج إعلامي مرئي للنشء، تقام الجائزة على مستوى المملكة العربية
                          السعودية وتشارك فيها الكيانات المهتمة بالإنتاج الإعلامي بالإضافة للأفراد المهتمين، وتكرم
                          الجائزة الإنتاج المتميز من المتقدمين.
                      </p>
                      <a href="" class="link">
                          <span>
                              المزيد من المعلومات
                          </span>
                      </a>
                  </div>
              </div>
              <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
                  <img src="./assets/Images/person.png" alt="">
              </div>
          </div>
      </div>
  </section>