<footer>
  <div class="container">
      <div class="row text-center">
          <div class="col-12">
              <img src="./assets/Images/logo.svg">
              <ul class="d-flex align-items-center  justify-content-center   ">
                  <li> <a href=""> الرئيسية </a> </li>
                  <li><a href="">عن الجائزة </a></li>
                  <li><a href=""> مسارات وجوائز </a></li>
                  <li><a href=""> موضوعات </a></li>
                  <li><a href=""> المراحل </a></li>
                  <li><a href=""> الشروط والاحكام</a></li>
                  
              </ul>
              <div class="copyright">
                  جميع الحقوق محفوظة © 2025.
              </div>
          </div>
      </div>
  </div>
</footer>

<div class="cursor"></div>